<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAppID</key>
	<string>0olNykUCrsc3e860i7rsNwakW8E1tKQVtPu84cBS</string>
	<key>ParseClientKey</key>
	<string>NlJELlLUDtmANqA9jf7ATXUKF3YDUFoT8LILv1ih</string>
	<key>ParseServer</key>
	<string>https://parseapi.back4app.com</string>
</dict>
</plist>
